@model Note

@{
	ViewBag.Title = "Details";
}

<div>
	<div class="card">
		<h2>@Html.DisplayFor(model => model.Title)</h2>
		<hr />


		<dd>
			@Html.DisplayFor(model => model.Content)
		</dd>
	</div>

	<table class="table-30">
		<tr>
			<th>Date Created</th>
			<th>Date Updated</th>
		</tr>

		<tr>
			<td>@Html.DisplayFor(model => model.DateCreated)</td>
			<td>@Html.DisplayFor(model => model.DateUpdated)</td>
		</tr>
	</table>
</div>

@Html.ActionLink("Delete", "Delete", new {id = Model.Id})
@Html.ActionLink("Edit", "Edit", new {id = Model.Id})
@Html.ActionLink("Back to List", "Index")
</div>