@model IEnumerable<Note>

@{
	ViewBag.Name = "Index";
}

<h1 class="display-1">Your Notes</h1>

<a href="~/Notebook/Create" class="btn btn-primary mb-2">
	Create new note
</a>


<table class="table mb-4 table-striped table-hover table-w70">
	<thead class="table-dark">
		<tr >
			<th colspan="2">
				@Html.DisplayNameFor(model => model.Title)
			</th>
			<th>
				Created on
			</th>
			<th>
				Last updated on
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td class="title fw-bold w-25">
					@item.Title
				</td>
				<td>
					@Html.ActionLink("View", "Details", new {id = item.Id}) |
					@Html.ActionLink("Edit", "Edit", new { id = item.Id}) |
					@Html.ActionLink("Delete", "Delete", new {id = item.Id})
				</td>
				<td>
					@item.DateCreated.ToString("dd/MM/yyyy HH:mm")
				</td>
				<td>
					@item.DateUpdated.ToString("dd/MM/yyyy HH:mm")
				</td>
			</tr>
		}
	</tbody>
</table>